html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .95em;
  background-color: #333;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.button {
  border: 1px solid black;
  padding: .5em 1.5em;
  cursor: pointer;
  outline: none;
  font-size: .8em;
  background: #fff;
}

.close {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: .1em;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #fff;
}

#cart {
  position: fixed;
  right: -16em;
  width: 15em;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  background: #fff;
  z-index: 99999;
  transition: all .5s ease;
}

#cart:hover {
  right: 0;
}

#cart span {
  display: block;
}

.cart-title {
  padding: .5em 0 1em;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

.cart-title .fa-shopping-cart {
  display: inline-block;
  position: relative;
  margin-right: .6em;
}

.fa-shopping-cart .cart-counter {
  position: absolute;
  top: -.3em;
  right: -.3em;
  font-size: .5em;
  padding: .1em .3em;
  background: #20B2AA;
}

.cart-product {
  margin-top: 2em;
  text-transform: uppercase;
}

.cart-product-img {
  float: left;
  width: 5em;
}

.cart-product-img img {
  width: 100%;
}

.cart-product-info {
  float: left;
  width: 10em;
  margin-bottom: .8em;
}

.cart-product-footer {
  clear: both;
  padding: .6em 0;
  border-top: 1px dotted #000;
  border-bottom: 1px solid #000;
}

#cart .product-price {
  display: inline-block !important;
  float: none;
}

.cart-product-footer .fa-trash-o {
  float: right;
  margin-top: 6px;
}

.cart-total {
  margin-top: .2em;
  border-top: 1px solid #000;
}

.cart-total .product-price {
  padding: .3em 0;
  font-size: 2.5em;
}

.cart-total .product-price .fa-rub {
  font-size: .6em;
}

.order {
  display: block;
  width: 100%;
  transition: all ease .2s;
}

#catalog {text-align: center;}

.product {
  display: inline-block;
  width: 15em;
  padding: 15px;
  border: 5px solid transparent;
  vertical-align: top;
  text-transform: uppercase;
  text-align: left;
  transition: all ease .3s;
}

.product:hover {
  border-color: #20B2AA;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.product-wrapper {
  height: 100%;
}

.product-img img {
  width: 100%;
}

.product span {
  display: block;
  margin: .1em 0;
}

.product-info {
  position: relative;
  height: 9em;
}

.product-brand {
  font-weight: bold;
}

.product-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.product-footer span {
  display: inline-block;
  margin: 0;
}

.product-price {
  float: right;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1;
}

.product-price .fa-rub {
  margin-bottom: -.1em;
  font-size: .9em;
}

.add-cart {
  transition: all ease .2s;
}

.add-cart:hover,
.order:hover {
  background: #20B2AA;
  border-color: #20B2AA;
}

.add-cart:active,
.order:active {
  background: silver;
  border-color: silver;
}